@charset "utf-8";
/* CSS Document */
.w5{width:5px !important;}
.w10{width:10px !important;}
.w15{width:15px !important;}
.w20{width:20px !important;}
.w25{width:25px !important;}
.w40{width:40px !important;}
.w50{width:50px !important;}
.w75{width:75px !important;}
.w100{width:100px !important;}
.w125{width:125px !important;}
.w140{width:140px !important;}
.w150{width:150px !important;}
.w175{width:175px !important;}
.w200{width:200px !important;}
.w225{width:225px !important;}
.w250{width:250px !important;}
.w275{width:275px !important;}
.w300{width:300px !important;}
.w350{width:350px !important;}
.w375{width:375px !important;}
.w400{width:400px !important;}
.w450{width:450px !important;}
.w475{width:475px !important;}
.w500{width:500px !important;}

.h25{height:25px !important;}
.h50{height:50px !important;}
.h100{height:100px !important;}
.h150{height:150px !important;}
.h200{height:200px !important;}
.h250{height:250px !important;}

.L25{line-height:25px !important;}
